.header-container {
    height: 850px;
    position: relative;
    background-image: url(../../../images/Mask\ Group\ 2.png);
    background-size: cover;
}

.header-container::after {
    height: 800px;
    content: ' ';
    position: absolute;
    top: 0;
    width: 23%;
    right: 0;
    background-color: #3d3a3a;
    z-index: -50;
}